.popup-wrapper {
  position: relative;
  width: 100%;
  padding: 4em 0;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px 15px;
  box-shadow: 0 3px 20px 2px rgba(0, 0, 0, .1);
  border-radius: 5px;
  z-index: 1;
}

.message {
  text-align: center;
}